fastapi
uvicorn[standard]
sqlalchemy
sentence-transformers==2.2.2
faiss-cpu
torch
scikit-learn
nltk
numpy
python-multipart
huggingface_hub==0.12.0
beautifulsoup4
requests
python-dotenv
pytesseract
pymupdf
pillow
tf-keras
transformers
accelerate